:root {
  /* ========= COLOR PRINCIPAL (IPN) ========= */
  --color-primary: #6C1D45;
  --color-primary-dark: #521534;
  --color-primary-light: rgb(125, 56, 91);
  --color-primary-alpha: rgba(108, 29, 69, 0.12);

  /* ========= COLORES COMPLEMENTARIOS ========= */
  --color-secondary: #A57C1B;      /* Dorado */
  --color-secondary-light: #C49A2C;

  --color-accent: #3A6E8F;         /* Azul petróleo */
  --color-accent-light: #5E91B2;

  /* ========= NEUTROS ========= */
  --color-neutral-dark: #2D2D2D;
  --color-neutral-medium: #6B7280;
  --color-neutral-light: #F5F6F8;
  --color-white: #FFFFFF;
  --color-border: #561026;
  --color-letter: #FFFFFF;

  /* ========= COLORES DE ESTADO ========= */
  --color-success: #4E9F6D;
  --color-warning: #E6A700;
  --color-danger: #C0392B;
}

[data-theme="dark"] {
  /* ========= FONDOS ========= */
  --color-white: #121212;
  --color-neutral-light: #1D1D1D;
  --color-neutral-dark: #F5F5F5;
  --color-neutral-medium: #B5B5B5;
  --color-border: #561026;
  --color-letter: #FFFFFF;

  /* ========= COLOR PRINCIPAL ========= */
  --color-primary: #8A3C63;
  --color-primary-dark: #6c1d4595;
  --color-primary-light:  rgb(125, 56, 91);
  --color-primary-alpha: rgba(138, 60, 99, 0.18);

  /* ========= COLORES COMPLEMENTARIOS ========= */
  --color-secondary: #C49A2C;
  --color-secondary-light: #E2B84B;

  --color-accent: #62869c;
  --color-accent-light: #8CC0DA;

  /* ========= COLORES DE ESTADO ========= */
  --color-success: #63B37E;
  --color-warning: #F2B632;
  --color-danger: #E05A4F;
}